<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Movie-app</span>
        <span class="example-spacer" style="margin-left: 250px" >
                <mat-form-field>
                        <input matInput value="Search ImDB..." [(ngModel)]="omdbSearchTitle">
                        <button (click)="onSearch()" mat-raised-button color="accent" style="margin-left: 50px">Search ImDB Movies</button>
                    </mat-form-field>
        </span>
        
        <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
       
        <mat-menu #menu="matMenu">
            <div (click)="onClick()">
                <button mat-menu-item>Wishlist</button>

            </div>

            <button mat-menu-item>Sign Out</button>
        </mat-menu>
   
    </mat-toolbar-row>
    
        
    

</mat-toolbar>

<div class="container-fluid">

    <!--<div align="center">
        <h1>Movie-app</h1>

        <!--{{ userForm.value | json}}
  <hr />
  {{ movieModel | json}}
    </div>-->
    <!--<div align="center">

    </div>-->


    <br>
    <br>
    <!--
    <div align="center" (click)="onSearch()">
        <input type="text" alt="OmDb" name="type" width="48" height="4" [(ngModel)]="omdbSearchTitle" placeholder="Search OmDb database">
        <br>
        <br>
        <button mat-raised-button color="primary">Search Movie DataBase</button>
        <button class="btn btn-primary" type="search">Search Movie DataBase</button>
    </div>
-->
    <br>
    <br>


    <mat-grid-list cols="3" rowHeight="100px">
        <div *ngFor="let movie of movies" align="center">
            <mat-grid-tile colspan="1" rowspan="6">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{movie.title}}</mat-card-title>
                        <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src={{movie.poster}} alt="Movie Poster">

                    <mat-card-actions>
                        <button mat-raised-button (click)="onDelete(movie)" color="warn">Delete</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <!--
        <h6>Title : {{movie.title}}</h6>
        <h6>Year : {{movie.year}}</h6>
        <h6>ImdbId : {{movie.imdbId}}</h6>
        <h6>Type : {{movie.type}}</h6>
        <img src={{movie.poster}} alt="Smiley face" height="200" width="200">

        <br>
        <br>
        <div align="center" (click)="onDelete(movie)">
                <button mat-raised-button color="warn">Delete Movie</button>
        </div>
        <br>
        <br>-->
        </div>


        <div *ngFor="let movie of omdbMovie">
            <mat-grid-tile colspan="1" rowspan="6">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{movie.Title}}</mat-card-title>
                        <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src={{movie.Poster}} alt="Movie Poster">
                    <mat-card-actions>
                        <button mat-raised-button (click)="onSubmit(movie)" color="primary">Move to Wishlist</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <!--
    <div *ngFor="let movie of omdbMovie" align="center">
        <h6>Title : {{movie.Title}}</h6>
        <h6>Year : {{movie.Year}}</h6>
        <h6>ImdbId : {{movie.imdbID}}</h6>
        <h6>Type : {{movie.Type}}</h6>
        <img src={{movie.Poster}} alt="Smiley face" height="200" width="200">
        <br>
        <br>
        <div align="center" (click)="onSubmit(movie)">
            <button mat-raised-button color="accent">Move to Wishlist</button>
        </div>

        <br>
        <br>
    </div>-->
</div>